{% extends 'base.html' %}
{% block title %} Reset password {% endblock %}
{% block content %}



<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center text-primary">Reset Password</h1>
                </div>
                <div class="card-body">

                    <form method="post" class="form">
                        {% csrf_token %}
                        <div class="form-group">

                            <div class="input-group">
                                <input type="text" name="{{ form.email.name }}" style="width: 100%; border: 1px solid black; height: 30px; font-weight: bold; border-radius: 3px;" placeholder="Enter your email address">
                            </div>

                            {% if form.email.errors %}
                                <small class="text-danger">{{ form.email.errors|striptags }}</small>
                            {% endif %}
                            {% if messages %}
                                <div class="messages">
                                    {% for message in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="color: red; font-size:small; list-style: none; padding: 1px;">{{ message }}</li>
                                    {% endfor %}
                                </div>
                            {% endif %}
                        </div>
                        <br>
                        <div class="form-group text-left">
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-arrow-counterclockwise mr-1"></i> Submit
                            </button>
                            <a href="{% url 'login' %}" class="btn btn-secondary ml-2">Back To Login</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
