{% extends 'base.html' %}
{% block title %} Change Password {% endblock %}
{% block content %}

<!-- Remove Duplicacy -->
{% include 'includes/sidebar.html' %}
{% include 'includes/navigation.html' %}
<section class="pcoded-main-container">
    <div class="container mt-5">
        <!-- [ Main Content ] start -->
        <div class="row justify-content-center">
            <!-- [ Hover-table ] start -->
            <div class="col-md-4 col-sm-12">
                <div class="card">
                    <div class="row align-items-center text-center">
                        <div class="col-md-12">
                            <div class="card-body">
                                <form method='post' class="needs-validation" novalidate >
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <br>
                                    <input type="submit" value="Change Password" class="btn btn-block mb-4" style="background-color: rgb(243 45 10);">
                                    <style>
                                        form.needs-validation label {
                                            display: block;
                                            text-align: left;
                                            font-weight: bold;
                                        }
                                        form.needs-validation input[type="text"],
                                        form.needs-validation input[type="password"] {
                                            border: 1px solid #19232e;
                                            padding: 8px;
                                            border-radius: 4px;
                                                width: 100%;
                                        }

                                        /* Style for help text inside ul li */
                                        ul.errorlist {
                                            color: red;
                                            text-align: left;
                                            list-style-type: none;
                                            margin-left: 10px; /* You can adjust this value to control the left margin */
                                        }

                                        ul.errorlist li {
                                            margin-bottom: 5px;
                                        }
                                        form ul li {
                                            list-style-type: none;
                                            text-align: left;
                                        }
                                    </style>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}