{%extends 'base.html'%}

{%block content%}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center text-primary"> Password Changed</h1>
                </div>
                <div class="card-body">
                    <p style="font-size: 18px;">Your password has been changed successfully. Please Login to site with a new password.</p>
                    <a href="{% url 'login' %}" class="btn btn-primary">Back To Login</a>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock content%}
