{% extends 'base.html' %}

{% block content %}
<div class="text-center mt-5">
    <div class="card p-4" style="max-width: 600px; margin: 0 auto; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h1 class="text-center text-primary">Password Reset Email Sent</h1>
        <br>
        <p class="mb-4 text-left" style="font-size: 18px;">An email has been sent to your Entered email address. Please check your inbox
            and follow the instructions provided to reset your password. If you don't see the email in your inbox, please check your spam folder as well.
        </p>
    </div>
</div>
{% endblock content %}
