{% extends "base.html" %}
{% load static %}

{% block title %} Sign IN {% endblock %}

{% block content %}
<!-- [ auth-signin ] start -->
<div class="auth-wrapper">
    <div class="auth-content">
        <div class="card">
            <div class="row align-items-center text-center">
                <div class="col-md-12">
                    <div class="card-body">
                        <!-- <img src="{% static 'img/pelocal-hub/pelocal-logo.png' %}" height="200" width="260" alt="Pelocal Hub Logo" class="img-fluid mb-4"> -->
                        <h1>Login</h1>
                        <form method="post" class="needs-validation" novalidate>
                            {% csrf_token %}
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="bi bi-envelope"></i></span>
                                </div>
                                <input type="text" class="form-control {% if form.errors.username %} is-invalid {% endif %}" name="username" placeholder="Email" required>
                                {% if form.errors.username %}
                                    <div class="invalid-tooltip">{{ form.errors.username.0 }}</div>
                                {% endif %}
                            </div>
                            <div class="input-group mb-4">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="bi bi-lock"></i></span>
                                </div>
                                <input type="password" class="form-control {% if form.errors.password %} is-invalid {% endif %}" name="password" placeholder="Password" required>
                                {% if form.errors.password %}
                                    <div class="invalid-tooltip">{{ form.errors.password.0 }}</div>
                                {% endif %}
                            </div>
                            {% if form.errors %}
                                {% if not form.errors.username and not form.errors.password and not form.errors.captcha %}
                                    <div class="text-danger">
                                        {% for field_name, field_errors in form.errors.items %}
                                            {% for error in field_errors %}
                                                <p>{{ error }}</p>
                                            {% endfor %}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            {% endif %}
                            <div class="captcha-box">
                                {{ form.captcha }}
                            </div>
                            {% if form.errors %}
                                {% if not form.errors.username and not form.errors.password %}
                                    <div class="text-danger">
                                        <p>{{ form.errors.captcha.0 }}</p>
                                    </div>
                                {% endif %}
                            {% endif %}
                            <br>
                            <input type="submit" value="Submit" class="btn btn-block mb-4" style="background-color: rgb(243, 45, 10);">

                            <a href="{% url 'password-reset' %}" class="text-primary d-block text-left">Forgot password?</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- [ auth-signin ] end -->
{% endblock content %}
